<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>검색모음</h1>
    <h2>Google</h2>
    <form action="https://www.google.com/search">
        검색어: <input type="text" name="q">
        <input type="submit">
    </form>
    <h2>Naver</h2>
    <form action="https://search.naver.com/search.naver">
        검색어: <input type="text" name="query">
        <input type="submit">
    </form>
    <h2>유튜브</h2>
    <form action="https://www.youtube.com/results">
        검색어: <input type="text" name="search_query">
        <input type="submit">
    </form>
</body>
</html>