{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <h1>{{ article.title }}</h1>
  <p>{{ article.pk }}번 게시글</p>
  <h3><a href="{% url "accounts:detail" article.user.pk %}">{{ article.user }}</a></h3>
  <p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}
    |
    {{ article.updated_at|date:"y-m-d D" }}</p>
  <span>
    {% comment %} 로그인이 되어 있어야 좋아요가 뜸 // is_authenticated {% endcomment %}
    {% if request.user.is_authenticated %}
      <a class="like-heart" href="{% url 'articles:like' article.pk %}">
      {% if request.user in article.like_users.all %}
        <i class="bi bi-heart-fill"></i>
      {% else %}
        <i class="bi bi-heart"></i>
      {% endif %}</a>{{ article.like_users.count }}</span>
    {% endif %}
  <hr>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" heigt="300">
  {% endif %}
  {% if request.user == article.user %}
  <p>
    <a href="{% url 'articles:update' article.pk %}">수정하기</a>
  </p>
  {% endif %}
  <a href="{% url 'articles:index' %}">돌아가기</a>
  <h4 class="my-3">댓글</h4>

  {% comment %} 로그인을 해야 댓글을 작성 할 수 있게 {% endcomment %}
  {% if reqquest.user.is_authenticated %}
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form layout='inline'%}
    {% bootstrap_button button_type="submit" content="OK" %}
  </form>
  {% endif %}

  <hr>
  {% for comment in comments %}
    <p>{{ comment.user.username }} | {{ comment.content }}</p>
    <hr>
    {% empty %}
    <p>댓글이 없어요 ㅠ_ㅠ</p>
  {% endfor %}
{% endblock %}
