p {
  width: 100px;
  height: 50px;
  padding: 20px;
  border: 1px solid;
}
.my-box {
  width: 200px;
  border: 10px solid;
  padding: 20px;
}

.my-box1 {
  box-sizing: border-box;
	width: 200px;
	border: 10px solid;
	padding: 20px;
}
